# Byte-compiled / optimized / DLL files
__pycache__/
yokummy/__pycache__
yokummy/.kaggle
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
boygirl_env/
